<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_dev.dao.StudentMapper">
	
	<sql id="selectSql">
		select stud_id, name, email, phone, dob from students
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="studId != null">
				 STUD_ID = #{studId}
			</if>
		</where>
	</sql>
	
	<sql id="updateSql">
		update students set name = #{name}, email=#{email},phone=#{phone},dob=#{dob}
	</sql>
	
	<sql id="insertSql">
		insert into students (stud_id, name, email, phone, dob)
	</sql>
	
	<sql id="valuesSql">
		values(#{studId},#{name},#{email},#{phone},#{dob})
	</sql>
	
	<sql id="deleteSql">
		delete from students
	</sql>
	
	<resultMap type="Student" id="StudentResult">
		<id property="studId" column="stud_id"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="dob" column="dob"/>
	</resultMap>
	
	<resultMap type="Student" id="StudentResultExtends" extends="StudentResult">
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>
	</resultMap>
	
	<resultMap type="Student" id="StudentResultAssociation" extends="StudentResult">
		<association property="address" resultMap="kr.or.dgit.mybatis_dev.dao.AddressMapper"></association>
	</resultMap>
	
	<select id="selectStudentByNoAssociationAddress" parameterType="Student" resultMap="StudentResult">
		select STUD_ID, NAME, EMAIL,PHONE,DOB, a.ADDR_ID,street,city,state,zip,country
		from students s left join addresses a on s.ADDR_ID=a.ADDR_ID
		<include refid="whereSql"></include>
	</select>
	
	<select id="selectStudentByNoforWithAddress" parameterType="Student" resultMap="StudentResultExtends">
		select STUD_ID, NAME, EMAIL,PHONE,DOB, a.ADDR_ID,street,city,state,zip,country
		from students s left join addresses a on s.ADDR_ID=a.ADDR_ID
		<include refid="whereSql"/>
	</select>
	
	<select id="selectStudentByNoforResultMap" parameterType="Student" resultMap="StudentResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	<select id="selectStudentByAllforResultMap" resultMap="StudentResult">
		<include refid="selectSql"/>
	</select>
	
	<!-- hashmap으로 결과리턴 -->
	<select id="selectStudentByNoforHashMap" parameterType="Student" resultType="map">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	<select id="selectStudentByAllforHashMap" resultType="map">
		<include refid="selectSql"/>
	</select>
	
	<select id="selectStudentByNo" parameterType="Student" resultType="Student">
		<!-- select stud_id, name, email, phone, dob from students where STUD_ID = #{studId} -->
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectOne" parameterType="Student" resultType="Student">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectStudentByAll" resultType="Student">
		<include refid="selectSql"></include>
	</select>
	
	<select id="list" resultType="Student"> <!-- api -->
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertStudent" parameterType="Student">
		<include refid="insertSql"/>
		<include refid="valuesSql"/>
	</insert>
	
	<insert id="insert" parameterType="Student">
		<include refid="insertSql"/>
		<include refid="valuesSql"/>
	</insert>
	
	<update id="updateStudent" parameterType="Student">
		<include refid="updateSql"/>
		<include refid="whereSql"></include>
	</update>
	
	<update id="Update" parameterType="Student">
		<include refid="updateSql"/>
		<include refid="whereSql"></include>
	</update>
	
	<delete id="deleteStudent" parameterType="Student">
		<include refid="deleteSql"/>
		<include refid="whereSql"></include>
	</delete>
	
	<delete id="delete" parameterType="Student">
		<include refid="deleteSql"/>
		<include refid="whereSql"></include>
	</delete>
</mapper>